<div id='estimate-form__access-field'>
  <%= number_field_tag("access_width", step: :any, id: 'estimate-form__field') %>
  <%= select_tag "access_width_unit", options_for_select(['inches', 'cm']), class: 'estimate-form__select-field' %>
</div>
