<div id='view-estimate__box'>
  <div id="view-estimate__costs-header">
    <span class = "text-large">Arborist</span>
    
    <%= link_to assign_arborist_estimate_path(estimate.id) do %>
      <span id="view-estimate__edit">Edit</span>
    <% end %>
  </div>

  <div id='view-estimate__costs-row'>
    <div class="view-estimate__full">
      <%= estimate.arborist.name %>
    </div>
  </div>
</div>
