<% edit_path ||= nil %>

<ul class="collapsible" id="arborist-list">
  <li>
    <div class="collapsible-header">
      <i class="material-icons">
        expand_less
      </i>
      <b><%= title %></b>
    </div>

    <div class="collapsible-body collapsible-lowpadding">
      <%= yield %>
    </div>
  </li>
</ul>
