<div id='view-estimate__box'>
  <div id="view-estimate__costs-header">
    <span class = "text-large">Next Action</span>
  </div>

  <div id='view-estimate__row'>
    <%= render 'admin/common/single_estimate_actions', estimate: estimate %>
  </div>
</div>
