<div id='view-estimate__box'>
  <div id="view-estimate__costs-header">
    <span class = "text-large">Totals</span>
    
  </div>

  <% if estimate.invoice && estimate.invoice.discount %>
    <div id='view-estimate__costs-row'>
      <div id="view-estimate__costs-label">
        Discount
      </div>
      <div id="view-estimate__costs-text">
        For Sign
      </div>
      <div id="view-estimate__cost-value">
        $<%= Estimate::SIGN_DISCOUNT %>
      </div>
    </div>
  <% end %>

  <div id='view-estimate__costs-row'>
    <div id="view-estimate__costs-label">
      -
    </div>
    <div id="view-estimate__costs-text">
      Subtotal
    </div>
    <div id="view-estimate__cost-value">
      $<%= estimate.total_cost %>
    </div>
  </div>

    <div id='view-estimate__costs-row'>
    <div id="view-estimate__costs-text">
      -
    </div>
    <div id="view-estimate__costs-text">
      <b>Total</b>
    </div>
    <div id="view-estimate__cost-value">
      <b>$<%= (estimate.total_cost * 1.13).round(2) %></b>
    </div>
  </div>

</div>
