<% content_for :title, "Careers" %>
<% content_for :description, "Details regarding a career in arborism working with Big Tree Services." %>

<div class = "row header-image sub-page-header">
	<div class = "sub-page-header-title">
		<div class = "sub-page-header-text">
			<h1>Careers</h1>
		</div>
	</div>
</div>

<div class = "row white-row">
	<div id = 'contact-page' class = "col-lg-6 col-lg-offset-3">
    <div class = "static-page-content">
      Feel free to <%= link_to "Contact Us", pages_path(page: "contact_us") %> with your resume. We promise to look it over. However, we are
      not actively seeking any new hires. <br /> <br />
      Thank You.
    </div>
  </div>
</div>
