<style>
  .job-box {
    border-style: solid;
    border-color: lightgray;
    border-width: 0 0 1px 0;
  }
</style>

<% content_for :title, "Careers" %>
<% content_for :description, "Details regarding a career in arborism working with Big Tree Services." %>

<div class = "row header-image sub-page-header">
	<div class = "sub-page-header-title">
		<div class = "sub-page-header-text">
			<h1>Careers</h1>
		</div>
	</div>
</div>

<div class = "row white-row">
	<div id = 'contact-page' class = "col-lg-6 col-lg-offset-3">
    <!-- <div class = "static-page-content">
      Feel free to <%= link_to "Contact Us", pages_path(page: "contact_us") %> with your resume. We promise to look it over. However, we are
      not actively seeking any new hires. <br /> <br />
      Thank You.
    </div> -->

    <div>
      <h3>Available Positions: Arborist, Groundsman, Crane Operator</h3>
    </div>

    <div class='job-box'>
      <h2 style="border-width: 0 0 1px 0; border-color: gray; border-style: solid;">Arborist</h2>

      <h4>JOB DESCRIPTION</h4>
      <b>Certified Arborist</b> <br />
      Big Tree Services is looking to fill an available position as Certified Arborist/Climber.
      <h4>QUALIFICATIONS</h4>
      <ul>
        <li>Some industry experience</li>
        <li>ISA Certified, Certified Arborists preferred</li>
        <li>Knowledgeable and competent in the safe operation of Aerial lifts, Chippers, Chainsaws</li>
        <li>G, DZ License (DZ licence preferred but not required)</li>
      </ul>
      <h4>BENEFITS</h4>
      <ul>
        <li>Competitive wages</li>
        <li>Company clothing and equipment allowance provided</li>
        <li>Opportunity for career advancement</li>
        <li>Benefits (health, dental, vision)</li>
      </ul>

      <h4>PRIMARY DUTIES</h4>
      <ul>
        <li>Utilize advanced felling and rigging techniques to demonstrate and practice proper pruning techniques, and removal of trees at various risk levels</li>
        <li>Utilize current industry standard climbing procedures and aerial lifts to facilitate job requirements</li>
        <li>Maintain equipment as needed</li>
        <li>Maintain a high level of technical knowledge</li>
        <li>Demonstrate knowledge of trees and shrubs, with the ability to provide recommendations for proper care</li>
        <li>Able to work well with others and communicate cordially and effectively with clients</li>
        <li>Act as an effective team leader</li>
      </ul>

      <h4>EXPERIENCE</h4>
      <ul>
        <li>Tree Climbing</li>
        <li>Experience as a team leader preferred but training available</li>
      </ul>
      <b>License or certification:</b> G, DZ License - Certified Arborist
      <br />
      <b>Job Type:</b> Full-time, Permanent
      <br />
      <b>Salary:</b> $25-$35 per hour (based on experience)
    </div>

    <div class='job-box'>
      <h2 style="border-width: 0 0 1px 0; border-color: gray; border-style: solid;">Groundsman</h2>

      <h4>JOB DESCRIPTION</h4>
      Big Tree Services is looking to fill an available position as groundsman.
      <h4>QUALIFICATIONS</h4>
      <ul>
        <li>Willing and able to work outdoors in all weather</li>
        <li>Ability to lift min. 50lbs</li>
        <li>Chipper and chainsaw experience</li>
        <li>Problem solving and communication experience</li>
      </ul>
      <h4>BENEFITS</h4>
      <ul>
        <li>Competitive wages</li>
        <li>Company clothing and equipment allowance provided</li>
        <li>Opportunity for career advancement</li>
        <li>Benefits (health, dental, vision)</li>
      </ul>

      <h4>PRIMARY DUTIES</h4>
      <ul>
        <li>Assist the Arborist working at heights and crew members on the ground</li>
        <li>Perform required general maintenance and daily equipment inspection</li>
        <li>Pruning, limbing, chipping and other tree tasks</li>
        <li>Execution of job site cleanup</li>
        <li>Follow safety policies and procedures</li>
      </ul>
      <b>Job Type:</b> Full-time
      <br />
      <b>Salary:</b> Based on experience
    </div>

    <div class='job-box'>
      <h2 style="border-width: 0 0 1px 0; border-color: gray; border-style: solid;">Crane Operator (Tree Specific)</h2>

      <h4>JOB DESCRIPTION</h4>
      Big Tree Services is looking to fill an available position as Crane Operator.
      <h4>QUALIFICATIONS</h4>
      <ul>
        <li>Experience working on crane required</li>
        <li>Crane licence an asset</li>
        <li>Previous experience in tree related work an asset</li>
        <li>DZ License</li>
      </ul>
      <h4>BENEFITS</h4>
      <ul>
        <li>Competitive wages</li>
        <li>Company clothing and equipment allowance provided</li>
        <li>Opportunity for career advancement</li>
        <li>Benefits (health, dental, vision)</li>
      </ul>

      <h4>PRIMARY DUTIES</h4>
      <ul>
        <li>Operate the crane and assisting other crew members</li>
        <li>Remove, load tree debris, limbs, and tree trunks/sections</li>
        <li>Communicate with climbers and groundmen to ensure safe and efficient crane operations</li>
        <li>Perform inspections, safety checks</li>
        <li>Ability to operate additional equipment an asset (bucket truck, chipper, chainsaw)</li>
        <li>Follow safety policies and procedures</li>
      </ul>

      <b>Job Type:</b> Full-time
      <br />
      <b>Salary:</b> Based on experience
    </div>
  </div>
</div>
