<% content_for :title, "Commercial Tree Services" %>
<% content_for :description, "Commerical tree removal and maintenance services" %>

<div class = "row header-image sub-page-header">
	<div class = "sub-page-header-title">
		<div class = "sub-page-header-text">
			Commercial Services
		</div>
	</div>
</div>

<div class = "row white-row">
  <div id = "commercial-services-header">
    To Request a Commerical Services Quote<br />Call <a href="tel:18775425551" class="contact-link">1-877-542-5551</a>
    or email 
      <a href="mailto:tbrewer@bigislandgroup.ca" class='contact-link'>
				tbrewer@bigislandgroup.ca
			</a>
  </div>
	<div id = 'cut-one' class = "col-lg-6 col-lg-offset-3">

    <div id = "commercial-services-container">
      <div class = "commercial-service" id = "utility-service">
        <div class = "commerical-service-header">
          Utility
        </div>
      </div>

      <div class = "commercial-service" id = "lot-clearing-service">
        <div class = "commerical-service-header">
          Lot Clearing
        </div>
      </div>

      <div class = "commercial-service" id = "roadside-service">
        <div class = "commerical-service-header">
          Roadside
        </div>
      </div>

      <div class = "commercial-service" id = "railroad-service">
        <div class = "commerical-service-header">
          Railroad
        </div>
      </div>

      <div class = "commercial-service" id = "insurance-service">
        <div class = "commerical-service-header">
          Insurance
        </div>
      </div>

      <div class = "commercial-service" id = "commercial-service">
        <div class = "commerical-service-header">
          Apartments and Commerical Grounds
        </div>
      </div>
    </div>

  </div>
</div>
