<% content_for :title, "Contact Us" %>
<% content_for :description, "Contact Big Tree Services about your upcoming tree removal, stump removal or arborism job." %>

<div class = "header-image sub-page-header">
	<div class = "sub-page-header-title">
		<div class = "sub-page-header-text">
			<h1>Contact Us</h1>
		</div>
	</div>
</div>

<div id = "contact-container" class='main-container'>
	<span id='contact-headline'>
		We'd love to hear from you!
	</span>

	<span id='contact-content'>
		If you have any questions about our services, please get in touch with one of the methods below.
	</span>

	<div id='contact-methods'>
		<div id='contact-method-box'>
			<span id="contact-box-headline">
				Phone
			</span>
			<span id='contact-box-content'>
				<a href="tel:18775425551" class='contact-link'>
					1-877-542-5551
				</a>
			</span>
		</div>

		<div id='contact-method-box'>
			<span id="contact-box-headline">
				Email
			</span>
			<span id='contact-box-content'>
				<a href="mailto:tbrewer@bigislandgroup.ca" class='contact-link'>
					tbrewer@bigislandgroup.ca
				</a>
			</span>
		</div>

	</div>
</div>	
