<div class = "header-image sub-page-header">
	<div class = "sub-page-header-title">
		<div class = "sub-page-header-text">
			Contact Us
		</div>
	</div>
</div>

<div id = "contact-container" class='main-container'>
	<span id='contact-headline'>
		We'd love to hear from you!
	</span>

	<span id='contact-content'>
		If you have any questions about our services, please get in touch with one of the methods below.
	</span>

	<div id='contact-methods'>
		<div id='contact-method-box'>
			<span id="contact-box-headline">
				Phone
			</span>
			<span id='contact-box-content'>
				1-877-542-5551
			</span>
		</div>

		<div id='contact-method-box'>
			<span id="contact-box-headline">
				Email
			</span>
			<span id='contact-box-content'>
				tbrewer@bigislandgroup.ca
			</span>
		</div>

	</div>
</div>	
