<div class = "row header-image sub-page-header">
	<div class = "sub-page-header-title">
		<div class = "sub-page-header-text">
			Cut 1 => Plant 2
		</div>
	</div>
</div>

<div class = "row white-row">
	<div id = 'cut-one' class = "col-lg-6 col-lg-offset-3">
    <div class = "static-page-content">
      The Cut 1 => Plant 2 program is our attempt to give back to the community. It is
      an ethical approach to our business and we take pride in it.
    </div>
      <div class = "tree-planting-image-container">
        <%= image_tag "PlantingTree.jpg", class: "tree-planting-image" %>
      </div>
    <div class = "static-page-content">
      What started out as a simple and fun idea has turned into one of our best ideas. For
      every tree we cut down, we will plant two trees for free. It doesn't need to be the
      same type of tree, the same size, or even the same property, just as long
      as we're planting more than we remove.
      <br /><br />

      We have an eye to the future and it is important to us that our Cut 1 => Plant 2
      project is successful. In our first year of business we planted 140 trees. With
      the help of our customers, we were able to find planting locations in some of the
      busiest spots in the GTA. We at Big Tree are proud to be environmentally friendly.

      <br /><br />

      To be involved in the problem, or to submit a potential planting location, please
      give us a call at <span class = "phone-number-text">1-877-541-5551</span>
    </div>
      <div class = "tree-planting-image-container">
        <%= image_tag "TreePlanting.jpg", class: "tree-planting-image" %>
      </div>
  </div>
</div>
