<div class = "row header-image sub-page-header">
	<div class = "sub-page-header-title">
		<div class = "sub-page-header-text">
			Services
		</div>
	</div>
</div>

<div class = "row white-row">
	<div id = 'services-page' class = "col-lg-6 col-lg-offset-3">
    <div class = "static-page-content">
      Big Tree care is commited to safety, expertise and professionalism. Our customers
      are everything to us, and we understand the importance of building lasting relationships
      for our continued success. Of course, if you have any questions, you can call us anytime.
      <div class = "static-phone-number">
        1-877-542-5551
      </div>
    </div>

    <div class = "static-page-title">
      <div class = "static-page-title-text">
        Full Service Tree Care
      </div>
    </div>

    <div class = "static-page-content">
      Tree removal, tree trimming, tree cabling, tree bracing. <br />
      Stump griding and complete stump/root removal. <br />
      Tree pruning, shrub and bush trimming, tree and plant fertilization. <br />

      Emerald Ash borer solutions, insect and disease management. <br />
      Tree risk assessments, arborist reports, lightning protection systems etc.

      <ul id = "service-list">
        <li class = "service-entry">Bush and Cedar Maintenance</li>
        <li>Storm Damage</li>
        <li>Loat Clearing and Land Cleaning</li>
        <li>Chipping</li>
        <li>Crane and hiab services</li>
        <li>Tree planting</li>
      </ul>

        <strong>Note:</strong> Firewood and dirty wood chip deliveries available.
    </div>
  </div>
</div>
