<div class = "row white-row">
	<div id = 'services-page' class = "col-lg-6 col-lg-offset-3">
    <div class = "static-page-content">

    </div>

    <div class = "static-page-title">
      <div class = "static-page-title-text">
        Full Service Tree Care
      </div>
    </div>

    <div class = "static-page-content">
      - Tree removal, tree trimming, tree cabling, tree bracing<br />
      - Stump grinding and complete stump/root removal<br />
      - Tree pruning, shrub and bush trimming <br />
			- Tree and plant fertilization <br />
      - Emerald Ash borer solutions as well as insect and disease management <br />
      - Tree risk assessments and arborist reports <br />
			- Lightning protection systems

      <ul id = "service-list">
        <li class = "service-entry">Bush and Cedar Maintenance</li>
        <li>Storm Damage</li>
        <li>Lot Clearing and Land Cleaning</li>
        <li>Chipping</li>
        <li>Crane and hiab services</li>
        <li>Tree planting</li>
      </ul>

        <strong>Note:</strong> Firewood and dirty wood chip deliveries available.
    </div>
  </div>
</div>
