<% content_for :title, "Residential Tree Services" %>
<% content_for :description, "Residential tree removal, maintenance and trimming services" %>

<div class = "row header-image sub-page-header">
	<div class = "sub-page-header-title">
		<div class = "sub-page-header-text">
			<h1>Residential Services</h1>
		</div>
	</div>
</div>

<div id='services-page' class='page-container'>

  <div id='services-page-list'>
    <%= render 'main/components/services_page_entry',
      image_name: "TreeCutting.jpg",
      title: 'Tree Removal',
      lines: ["When a tree removal is required due to damage, disease or simply changing needs, always ensure you are placing your trust in a qualified arborist.", "Many removal jobs are complex, and mistakes can be costly. Leave it to Big Trees to get the job done safely and efficiently."],
      page_url: '/main/removal'
    %>

    <%= render 'main/components/services_page_entry',
      image_name: "StumpGrinder.jpg",
      title: 'Stump Removal',
      lines: ["Removing a tree will leave an unsightly stump behind. Using our top of the line stump grinder, we can remove all traces of the unwanted tree from your yard.", "We can provide services from start to finish. From arranging the movement of utility lines, to filling the hole afterwards, Big Trees has you covered."],
      page_url: '/main/stumping'
    %>
  </div>

</div>
