<script>
  function startSubmit(){
    var submit = document.getElementById("submit-partial-button");
    var loader = document.getElementById("loader");

    submit.style.display = "none";
    loader.style.display = "block";
  }
</script>

<%= submit_tag button_label, class: 'btn btn-lg', style: 'background-color: #8A0000; color: white; width: 100%; margin-top: 32px;', id: 'submit-partial-button', onclick: "startSubmit()" %>

<div id="loader" style="display: none; width: 100%; justify-content: center; margin-top: 16px;">
  <%= image_tag "/loading_spinner.gif", id: 'loading', style: 'width: 50px; height: 50px; margin: 0 auto;' %>
</div>
