<label id="form__tree-image-uploader">
  <div id="form__tree-image-uploader-inner">
    <div id="form__tree-image-uploader-left">
      <span id="form__tree-image-uploader-label">Image #<%= number %></span>
      <%= file_field_tag name, class: 'form__image-upload-field' %>
    </div>

    <div id="form__tree-image-uploader-icon">
      +
    </div>
  </div>
</label>
