<% checked ||= false %>
<% onChange ||= nil %>
<% smallLabel ||= false %>
<% fontSize = smallLabel ? '24px' : '40px' %>

<label id="form__radio-box">
  <div id="form__radio-box-label" style="font-size: <%= fontSize %>">
    <%= label %>
  </div>
  <%= radio_button_tag(name, value, checked, onChange: onChange) %>
  <span id="form__radio-box-checkmark">
    <span id="form__radio-box-checkmark-inner">
  </span>
</label>
