<label id="estimate-form__radio-box">
  <%= radio_button_tag(name, value, checked) %>
  <span id="form__radio-box-checkmark">
    <span id="form__radio-box-checkmark-inner">

    </span>
  </span>

  <span id='estimate-form__radio-box-label'>
    <%= label %>
  </span>
</label>
