<div id='estimate-form__info-section'>
  <div id='estimate-form__question'>
    Online Estimate Tool
  </div>

  <div id="estimate-form__info-content">
    <div id="estimate-form__subtext">
      Getting an estimate from Big Tree Services couldn't be simpler! Just answer a few simple
      questions about your job, upload a couple pictures, and we'll contact you with your personalized estimate in minutes!
    </div>
  </div>

</div>
