<section id="admin-container">
	<div id="admin__estimate-header">
	<b>Estimates</b>
	<%= link_to(new_tracker_path) do %>
		<span id="admin__trackers-link">Master Trackers</span>
	<% end %>
	</div>

	<%= render "admin/partials/estimate_table", estimates: @estimates %>

</section>
