<script>
	var estimateId = null;
	var currentStep = 'basics';
	var totalTrees = 0;

	function setId(id){
		estimateId = id;
	}

	function setQuantity(quantity){
		totalTrees = quantity;
	}

 function nextForm(){
    if(currentStep == 'basics'){
      fadeOut = "#basics-container";
      fadeIn = "#tree-container";
      currentStep = "trees";
    }
    else if(currentStep == 'trees'){
			completeSubmission();
    }

    $(fadeOut).fadeOut(600, function(){
      $(fadeIn).fadeIn(600);
    });
  }

	function completeSubmission(){
		let params = {
			estimate:{
				submission_completed: true,
				supress_email: true
			}
		}

		var xmlhttp = new XMLHttpRequest();
    xmlhttp.open("PATCH", `/requests/${estimateId}`);
    xmlhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
    xmlhttp.send(JSON.stringify(params));
		

    xmlhttp.onload = function(){ 
			window.location.href = `${window.location.protocol}//${window.location.hostname}/estimates/${estimateId}/edit?form_option=update_costs`;
		}
	}

</script>

<div class='container'>
  <h3>Create a new Quote</h3>
    
   <div id='basics-container' style="display: block;">
		<%= render 'estimates/admin_form/basics', customer: @customer %>
	 </div>

	 <div id='tree-container' style="display: none;">
		<%= render 'estimates/admin_form/trees' %>
	 </div>


    

</div>
