#form__tree-image-uploader{
  width: 100%;

  border-color: var(--main-color);
  border-width: 2px;
  border-style: dashed;

  padding: 8px;

  margin-bottom: 8px;
}

#form__tree-image-uploader-inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#form__tree-image-uploader-left{
  display: flex;
  flex-direction: column;
  width: 80%;
}

#form__tree-image-uploader-icon{
  font-size: 30px;
  font-weight: 600;
  color: white;
  background-color: var(--main-color);

  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;
  border-radius: 50%;
}

#form__tree-image-uploader-label{
  margin-left: 8px;
  font-weight: 600;
}
