
#form__radio-box{
  width: 100px;
  height: 100px;

  //border-color: var(--main-color);
  border-color: var(--main-color-transparent);
  border-width: 2px;
  border-style: solid;
  border-radius: 20%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  cursor: pointer;
}

#form__radio-box-label{
  font-weight: 500;
  color: var(--main-color);
}

#form__radio-box input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

#form__radio-box-checkmark {
  height: 25px;
  width: 25px;
  background-color: #e2e2e2;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#form__radio-box-checkmark-inner{
  height: 15px;
  width: 15px;
  border-radius: 50%;
}



/* When the checkbox is checked, add a background */
#form__radio-box input:checked ~ #form__radio-box-checkmark > #form__radio-box-checkmark-inner {
  background-color: var(--main-color);
}
