<li>
  <div class="collapsible-header">
    <i class="material-icons">
      expand_less
    </i>
    <b>Documents</b>
  </div>

  <div class="collapsible-body">
    Here there be documents
  </div>
</li>
