<table class='striped table-narrow'>
  <tr>
    <th>Date</th>
    <th>Hours</th>
  </tr>

    <tr>
      <td><i>Total</i></td>
      <td><i><%= work_records.sum(:hours) %></i></td>
    </tr>

    <% work_records.reverse.each do |work_record| %>
      <tr>
        <td> <%= work_record.date.strftime("%b %d") %></td>
        <td> <%= work_record.hours %> </td>
      </tr>
    <% end %>
</table>
