
<div class='page-container'>
  <h3>Finalize Payment</h3>
  <%= form_tag("/estimates/#{@estimate.id}", method: 'patch') do %>
    
    <div class='form__box'>
      <div class='form__row-vertical'>
        <b>Payment Method</b>
          <%= 
            select_tag 'estimate[payment_method]',
            options_for_select(['Cash', 'Credit', 'Debit', 'E-Transfer', 'Cheque'], @estimate.payment_method),
            class:"form-field form__field-full",
            required: true
          %>
      </div>

      <div id="form__row">
        <%= submit_tag("Finalize Payment", id: 'form__submit') %>
      </div>
    </div>


    

  <% end %>
</div>
