<% include_arborist ||= false %>

<li>
  <div class="collapsible-header">
    <i class="material-icons">
      expand_less
    </i>
    <b><%= metric %></b>
  </div>

  <div class="collapsible-body collapsible-unpadded">
    <%= 
      render 'work_records/components/table',
      metric: metric,
      grouped_records: grouped_records,
      include_arborist: include_arborist
    %>
  </div>
</li>
