<div id='estimate-form__info-section'>
  <div id="estimate-form__info-content">
    <div id="estimate-form__subtext">
      Getting an estimate for a stump removal job couldn't be simpler! All we need is a few 
      details about the stumps and your site, and we'll have your estimate ready in minutes!
    </div>
  </div>

</div>
