<section id="admin-container">
	<h3>Running work</h3>

	<div id ="admin__estimate-table">
		<% @estimates.each do |estimate| %>
			<%= render "single_estimate_entry", estimate: estimate %>
		<% end %>
	</div>

	<%= render "arborists/arborist_table", arborists: @arborists %>
</section>
