<% allow_delete = nil unless allow_delete.present? %>

<table>
  <tr>
    <th>My Documents</th>
    <% if allow_delete %>
      <th></th>
    <% end %>
  </tr>

  <% documents.each do |document| %>
    <tr>
      <td>
        <%= link_to(document.name, document.file.url, target: '_blank') %>
      </td>

      <% if allow_delete %>
        <td>
          <%= link_to('Delete', arborist_document_path(arborist_id: @arborist, id: document.id), method: :delete) %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
