  
<% if estimate.status == "work_scheduled" %>
  <div id="single-estimate__action-button">
    Complete
  </div> 
<% end %>

<% if estimate.status == "needs_costs" %>
  <div id="single-estimate__action-button">
    Add Costs
  </div> 
<% end %>
