<div class="row">
  <div class="input-field col s12">
    <%= form.text_field('password', required: true) %>
    <%= form.label(:password, 'Password') %>
  </div>
</div>

<div class="row">
  <div class="input-field col s12">
    <%= form.text_field('password_confirmation', required: true) %>
    <%= form.label(:password_confirmation, 'Password Confirmation') %>
  </div>
</div>
