<li>
  <div class="collapsible-header">
    <i class="material-icons">
      expand_less
    </i>
    <b>Hours</b>
  </div>

  <div class="collapsible-body">
    <div class='row'>
      <%= link_to new_work_record_path do %>
        <div class='btn col s12'>Record Hours</div>
      <% end %>
    </div>

    <div class='row'>
      <b>This Month</b>
      <%= render 'arborists/partials/hours_table', work_records: @recent_work[:this_month] %>
    </div>
    <div class='row'>
      <b>Last Month</b>
      <%= render 'arborists/partials/hours_table', work_records: @recent_work[:last_month] %>
    </div>
  </div>
</li>
