<section>
  <div id="services-box-image-wrapper">
    <%= image_tag image_name, :id => 'services-box-image' %>
  </div>
  <div id='services-box-content'>
    <%= content %>
  </div>

  <div id="services-button-wrapper">
    <%= link_to(page_url, class: 'services-link') do %>
      <div class='services-button'>
        Learn more
      </div>
    <% end %>
    <%= link_to("#{page_url}#estimate", class: 'services-link') do %>
      <div class='services-button'>
        Get an Estimate
      </div>
    <% end %>
  </div>
</section>
