<div id='services-page-entry'>
  <div id ='services-page-entry__header'>
    Our Service Area
  </div>

  <div id='services-page-entry__content'>

    <div id='services-page-entry__image-wrapper' style="display: flex; justify-content: center">
      <%= image_tag 'map-clip.png', :id => 'services-page-entry__area-image' %>
    </div>
    
    <div id="services-page-entry__area-content">
      We are happy to provide tree removal and stumping services in the following cities: <br>  
      <ul style="font-weight: 600; font-size: 18px;">
        <li>Toronto and the GTA</li>
        <li>Markham</li>
        <li>Vaughan</li>
        <li>Richmond Hill</li>
        <li>Mississauga</li>
        <li>Brampton</li>
        <li>Oakville</li>
      </ul>
    </div>
  </div>
</div>
