<div id='step-entry'>
  <div id='step-header'>
    <div id='step-number'>
      <%= step_number %>
    </div> 

    <span id='step-header-content'>
      <%= title %>
    </span>   
  </div>

  <div id='step-text'>
    <span id='step-text-subheader'>
      <%= content %>
    </span>
  </div>
</div>
