<div id='promise-entry'>
  <div id='promise-left'>
    <div id='promise-icon'>
      <%= image_tag icon %>
    </div>

    <% unless is_final %>
      <div id='promise-divider'>

      </div>
    <% end %>
    
  </div>
  <div id='promise-text'>
    <span id='promise-text-header'>
      <%= title %>
    </span>

    <span id='promise-text-subheader'>
      <%= content %>
    </span>
  </div>
</div>
