<div id='step-entry'>
  <div id='step-left'>
    <div id='step-number'>
      <%= step_number %>
    </div>

    <% unless is_final || is_long %>
      <div id='step-divider'>
      </div>
    <% end %>

    <% if is_long && !is_final %>
      <div id='step-divider-long'>
      </div>
    <% end %>
    
  </div>
  <div id='step-text'>
    <span id='step-text-header'>
      <%= title %>
    </span>

    <span id='step-text-subheader'>
      <%= content %>
    </span>
  </div>
</div>
