<div id="stumping-box">
  <span id='stumping-box-header'>
    Stumping Services
  </span>

  <div id="stumping-box-image-wrapper">
    <%= image_tag "StumpGrinder.jpg", :id => 'stumping-box-image' %>
  </div>
  <div id='stumping-box-content'>
    The Big Tree team is able to offer a full range of stump removal services,
    using our industrial stump grinder, to leave your yard clean and remove any
    trace of the undesired tree.
  </div>

  <div id="stumping-button-wrapper">
    <%= link_to('/main/stumping') do %>
      <div id='stumping-button'>
        Learn more
      </div>
    <% end %>
  </div>
</div>
