<% content_for :robots, "noindex" %>

<div class = "header-image sub-page-header">
	<div class = "sub-page-header-title">
		<div class = "sub-page-header-text">
			<h1>Thank you</h1>
		</div>
	</div>
</div>

<section class="page-container">
  <div id="estimate-form__thank-you-block">
    <div id="estimate-form__thank-you-section">
      <div id="estimate-form__subtext">
        Thank you for your interest in Big Tree Services! Our team will review the data you provided 
        and get back to you as soon as possible with our estimate.
      </div>
    </div>

    <div id="estimate-form__thank-you-section">
      <div id="estimate-form__subtext">
        In the meantime, if you have any further questions, feel free to <%= link_to "Contact Us", pages_path(page: "contact_us"), :id => "estimate-form__link" %>
      </div>
    </div>
  </div>
</div>
