<div class='container'>
  <h3>Mailout new quote</h3>

  <% subject = 'Big Tree Services Quote'%>
  <% content = I18n.t('quote_mailout.team.content') %>

  <div class='content__box'>
  <%= form_tag estimate_quote_mailouts_path(@estimate.id), method: 'post' do %>
    
    <%= 
      render 'quote_mailouts/email_form',
      header: 'Email',
      email: '',
      subject: subject,
      content: content
    %>

    <div class='content__row-vertical'>
      <%= render 'quote_mailouts/spinner_send' %>
    </div>

  <% end %>

</div>
