<script>
  var initialCosts = <%== @initial_costs.to_json %>;
</script>

<div class="page-container">
  <h3>Edit costs</h3>


  <%= form_tag(update_estimate_costs_path(@estimate), method: "patch") do %>
    <div id="update-costs">

      <%= render 'costs/partials/cost_list' %>

      <div id="update-costs__submit-row">
        <%= submit_tag("Update Costs", id: 'form__submit') %>
      </div>
    </div>
  <% end %>
</div>
