<div class="page-container">
  <h3>Update costs</h3>


  <%= form_tag(estimate_costs_path(@estimate), method: "post") do %>
    <div id="update-costs">

      <%= render 'costs/partials/cost_list',
        initial_costs: @initial_costs 
      %>

      <div id="update-costs__submit-row">
        <%= submit_tag("Create Costs", id: 'form__submit') %>
      </div>
    </div>
  <% end %>
</div>
