<table class='header-table'>
  <tr>
    <td class='logo-cell'>
      <div class='logo-box'>
        <img src='https://bigtreecare.s3.amazonaws.com/public/LogoHorizontal.png' class='pdf_header-image'>
        <div class='contact-details'>
          1-877-542-5551 | www.BigTreeServices.ca
        </div>
      </div>
    </td>
    <td class='address-cell'>
      <div>
        <span class='company-name'>Big Tree</span> <br>
        43 Farmington Dr. <br>
        Brampton, ON, L6W 2V4<br>
      </div>
    </td>
  </tr>
</table>
