<table class='header-table'>
  <tr>
    <td class='logo-cell'>
      <div class='logo-box'>
        <img src='https://bigtreecare.s3.amazonaws.com/public/LogoHorizontal.png' class='pdf_header-image'>
        <div class='contact-details'>
          <%= [organization.phone_number, organization.website].join(' | ') %>
        </div>
      </div>
    </td>
    <td class='address-cell'>
      <div>
        <span class='company-name'><%= organization.name %></span> <br>
        <%= organization.address.street %> <br>
        <%= [organization.address.city, organization.address.postal_code].join(", ") %><br>
      </div>
    </td>
  </tr>
</table>
