<% estimate ||= @estimate %>
<% organization ||= estimate.organization %>
<% is_receipt ||= false %>

<div class='alwaysbreak page'>
  <%= render 'quotes/pdf/quote', estimate: estimate, organization: organization, is_receipt: is_receipt %>
</div>

<% unless is_receipt %>
  <%= render 'quotes/pdf/images', estimate: estimate %>


  <div class='alwaysbreak page'>
    <%= render 'quotes/pdf/details', organization: organization %>
  </div>

  <div class='alwaysbreak page'>
    <%= render 'quotes/pdf/terms', organization: organization %>
  </div>
<% end %>
