<div id='property-management-container' class='property-management-container' data-customer-shortname=<%= @customer.short_name %> data-customer-name="<%= @customer.name %>">
  <div id='property-management'>
  </div>
</div>