<div class = "row header-image sub-page-header">
	<div class = "sub-page-header-title">
		<div class = "sub-page-header-text">
			Estimate
		</div>
	</div>
</div>

<%= render 'estimate_form/container' %>
