<% content_for :title, "Estimates" %>
<% content_for :description, "Get a free online estimate for tree care, tree removal, stump removal and trimming services." %>

<div class = "row header-image sub-page-header">
	<div class = "sub-page-header-title">
		<div class = "sub-page-header-text">
			<h1>Estimate</h1>
		</div>
	</div>
</div>

<div class='container'>
  <%= javascript_pack_tag 'onboarding' %>
  <%= stylesheet_pack_tag 'onboarding' %>

  <div id='onboarding'>
  </div>
</div>
