<script>
  function startSend(){
    var submit = document.getElementById("submit-button");
    var loader = document.getElementById("loader");

    submit.style.display = "none";
    loader.style.display = "block";
  }
</script>

<%= submit_tag('Submit', class: "form__submit", id: 'submit-button', onclick: "startSend();") %>
<div id="loader" style="display: none; width: 100%; justify-content: center; margin-top: 16px;">
  <%= image_tag "/loading_spinner.gif", id: 'loading', style: 'width: 50px; height: 50px; margin: 0 auto;' %>
</div>
