  <div id = "footer-container">
    <div id='footer-left'>
      <span>Certified by the Ontario Colleges of Trade&nbsp;|&nbsp;</span>
      <span>Fully Insured by State Farm</span>
    </div>

    <div id='footer-right'>
      <%= link_to "Log in", '/admin/log_in', :id => 'footer-log-in' %>
    </div>
  </div>
