#form__row{
  margin-top: 16px;
  padding: 8px;

  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#form__row-bottom{
  align-items: flex-end;
}

#form__element{
  width: 100%;
}

#form__element-25{
  width: 25%;
}

#form__element-75{
  width: 75%;
}

#form__submit{
  background-color: var(--main-color);
  border-color: var(--main-color-dark);
  border-style: solid;
  border-width: 0 0 4px 0;
  padding: 8px;

  color: white;
  font-weight: 600;

  width: 100%;
  display: flex;
  justify-content: center;

  cursor: pointer;
}

#form__box{
  background-color: #f2f2f2;
  margin-top: 16px;
}

#form__header{
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  border-width: 0 0 1px 0;
  border-color: var(--main-color);
  border-style: solid;
  padding: 8px;
}

.form__header{
  font-weight: 600;
  border-width: 0 0 1px 0;
  border-color: var(--main-color);
  border-style: solid;
  padding: 8px;

  font-size: 24px;
}

.form-text-field{
  width: 100%;
  border: 1px solid grey;
}


// Class based - replace all with this eventually

.form__submit{
  background-color: var(--main-color);
  border-color: var(--main-color-dark);
  border-style: solid;
  border-width: 0 0 4px 0;
  padding: 8px;

  color: white;
  font-weight: 600;

  width: 100%;
  display: flex;
  justify-content: center;
}

.form__submit-link{
  color: inherit;
  width: 30%;
}

.form__row{
  margin-top: 16px;
  padding: 8px 0;

  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form__row-vertical{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 16px;
}

.form__row-center{
  width: 100%;
  display: flex;
  justify-content: center;
}

.form__contact-row{
  width: 100%;
}

.form__row-bottom{
  align-items: flex-end;
}

.form__element{
  width: 100%;
}

.form__element-25{
  width: 25%;
}

.form__element-75{
  width: 75%;
}

.form__element-40{
  width: 40%;
}

.form__element-60{
  width: 60%;
}

.form__label{
  font-weight: 600;
}

.form__field-full{
  width: 100%;
  height: 30px;
}

.form__box{
  background-color: #F5F5F5;
  margin-top: 16px;
  padding: 0 8px 8px 8px;
}

.form__checkbox{
  width: 20px;
  height: 20px;
  background-color: white;
  border: 1px solid grey;
}

.form__radio-button{
  margin: 0 16px 0 0 !important;
  height: 24px;
  width: 24px;
}

.form__radio-group{
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.form__image-upload-field{
  display: flex !important;
  cursor: pointer;
}

@media(min-width: 760px){
  .form__contact-row{
    width: 400px;
  }
}
