#single-receipt:nth-child(odd){
  background-color: #f2f2f2;
}
#single-receipt{
  display: flex;
  width: 100%;
}

#single-receipt__row{
  width: 100%;
  display: flex;
  justify-content: space-between;
  line-height: 140%;
  margin-bottom: 8px;
}

#single-receipt__body{
  width: 100%;
  padding: 8px;
}

#image-selector {
  display: flex;
}
#image-link {
  color: blue;
}
