@import "common/_mixins.scss";

#view-estimate__box{
  @include shadow-box;
  display: flex;
  flex-direction: column;
  padding: 16px;
  margin-top: 16px;
} 

#view-estimate__box-header{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  border-width: 0 0 2px 0;
  border-color: var(--main-color);
  border-style: solid;
}

.view-estimate__link{
  font-size: 16px;
}

#view-estimate__main-header{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  border-width: 0 0 2px 0;
  border-color: var(--main-color);
  border-style: solid;
}

#view-estimate__row{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 16px;
}

#view-estimate__row-vertical{
  display: flex;
  flex-direction: column;
  margin-top: 8px;
}

#view-estimate__next-row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;

  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: grey;

  padding: 0 0 16px 0;
}

#view-estimate__row-entry{
  display: flex;
  flex-direction: column;
  width: 100%;
}

#view_estimate__entry-header{
  font-weight: 600;
}

#view_estimate__entry-header-large{
  font-weight: 600;
  font-size: 22px;
}

// Costs section

#view-estimate__costs{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}

#view-estimate__costs-header{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  border-width: 0 0 2px 0;
  border-color: var(--main-color);
  border-style: solid;
}

#view-estimate__edit{
  font-size: 20px;
}

#view-estimate__costs-row{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}

#view-estimate__costs-label{
  font-weight: 600;
  width: 35%
}

#view-estimate__costs-text{
  width: 75%;
}

#view-estimate__costs-text-right{
  width: 75%;
  display: flex;
  justify-content: flex-end;
}

#view-estimate__cost-value{
  width: 25%;
  display: flex;
  justify-content: flex-end;
}

#view-estimate__costs-totals{
  width: 100%;
  margin-top: 16px;
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: grey;
}

.view-estimate__label{
  font-weight: 600;
  width: 35%
}

.view-estimate__label{
  font-weight: 600;
  
}
.view-estimate__text-full{
  width: 100%;
}

.view-estimate__quote-button{
  width: 95%;
}


//Timeline

#view-estimate__timeline-row{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  border-width: 0 0 1px 0;
  border-color: lightgrey;
  border-style: solid;

  margin-top: 8px;
}

#view-estimate__timeline-header{
  width: 100%;
  font-weight: 600;
}

#view-estimate__timeline-entry{
  width: 100%;
}

#view-estimate__edit-row{
  display: flex;
  justify-content: space-between;
}

#trees__image-container{
  display: flex;
}

#trees__single-image-container{
  width: 30%;
}

#trees__image{
  width: 100%;
  margin: 0 10px;
  object-fit: contain;
}

#view-estimate__tree-header{
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 600;
}
