<div class="row">
  <div class="col s12">
    <ul class="tabs">
      <li class="tab col s3"><a class="active" href="#active">Pending</a></li>
      <li class="tab col s3"><a href="#pending">Resolved</a></li>
    </ul>
  </div>
</div>

<div id="active" class="col s12">
  <% requests.submitted.each do |e_request| %>
    <%= render 'equipment_requests/partials/single_request', 
      equipment_request: e_request,
      show_actions: true 
    %>
  <% end %>
</div>

<div id="pending" class="col s12">
  <% requests.resolved.each do |e_request| %>
    <%= render 'equipment_requests/partials/single_request', 
      equipment_request: e_request,
      show_actions: true 
    %>
  <% end %>
</div>

<script>
  $(document).ready(function(){
    $('.tabs').tabs();
  });
</script>
