<table>
  <% expirations.order('name ASC').each do |expiration| %>
    <tr>
      <td style="padding: 5px; padding-left: 0px">
        <%= expiration.name %>
      </td>

      <td style="padding: 5px; padding-left: 0px; color: <%= expiration.display_color %>">
        <%= expiration.date.strftime("%B %d, %Y") %>
      </td>

      <td style="padding: 5px; padding-left: 0px">
        <%= link_to "Edit", edit_expiration_path(expiration) %>
      </td>
    </tr>
  <% end %>
</table>
