<div class = 'container'>
  <h3>Assign Arborist</h3>

  <%= form_tag("/estimates/#{@estimate.id}", method: 'patch') do %>

    <div class="form__box">
      <div class="form__row form__row-vertical">
        <div class=" form__label">
          Arborist*
        </div>  
          <% current_arborist_id = @estimate.arborist.present? ? @estimate.arborist_id : nil %>
          <%= 
            select_tag 'estimate[arborist_id]',
            options_from_collection_for_select(Arborist.real, 'id', 'name', current_arborist_id),
            class:"form-field",
            required: true,
            style: "width: 100%;"
          %>
      </div>

      <div class="form__row">
        <%= submit_tag('Submit', class: "form__submit") %>
      </div>

    </div>
  <% end %>
</div>
