<div class='container'>
  <h3>Update Address</h3>
  <%= form_tag("/estimates/#{@estimate.id}") do %>
    <input type="hidden" name="_method" value="patch">
    
    <div class='form__box'>
      <div class='form__row-vertical'>
        <b>Street</b>

        <%= text_field_tag("estimate[street]", @estimate.street, class: 'form-field form__field-full') %>
      </div>

      <div class='form__row-vertical'>
        <b>City</b>

        <%= text_field_tag("estimate[city]", @estimate.city, class: 'form-field form__field-full') %>
      </div>

      <div id="form__row">
        <%= submit_tag("Update", id: 'form__submit') %>
      </div>
    </div>


    

  <% end %>
</div>
