<div id="view-estimate__box">
  <div id="view-estimate__main-header">
    <span class = "text-large">Cancel Estimate</span>
  </div>

  <div id="view-estimate__row">
    <%= form_tag(cancel_estimate_path(estimate.id), method: :post, style: 'width: 100%;') do %>
      <%= submit_tag("Cancel", id: 'form__submit',  data: { confirm: 'Are you sure you want to cancel this estimate?' } ) %>
    <% end %>
  </div>
</div>
