  <div id="view-estimate__box">
    <div class="text-large" id="view-estimate__main-header">
      <span>Quotes</span>

      <% if @estimate.can_resend_quote? %>
        <span class='view-estimate__link'>
          <%= link_to new_estimate_quote_mailout_path(estimate_id: estimate.id) do %>
            Resend Quote
          <% end %>
        </span>
      <% end %>
    </div>


    <div id='view-estimate__row'>
      <div id='view-estimate__row-entry'>
        <%= link_to estimate_quotes_path(estimate_id: estimate.id, format: :xlsx) do %>
          <div class='form__submit view-estimate__quote-button'>
            Excel
          </div>
        <% end %>
      </div>

      <div id='view-estimate__row-entry'>
        <%= link_to estimate_quotes_path(estimate_id: estimate.id, format: :pdf) do %>
          <div class='form__submit view-estimate__quote-button'>
            PDF
          </div>
        <% end %>
      </div>
    </div>
  </div>
