<div id='view-estimate__box'>
  <div id="view-estimate__costs-header">
    <span class = "text-large">Extra Costs</span>
    
    <%= link_to "/admin/update_costs?id=#{estimate.id}" do %>
      <span id="view-estimate__edit">Edit</span>
    <% end %>
  </div>

  <% estimate.extra_costs.each_with_index do |cost, i| %>
    <div id='view-estimate__costs-row'>
      <div id="view-estimate__costs-label">
        <%= "Cost #{i + 1}" %>
      </div>
      <div id="view-estimate__costs-text">
        <%= cost.description %>
      </div>
      <div id="view-estimate__cost-value">
        $<%= cost.amount %>
      </div>
    </div>
  <% end %>
</div>
