a {
  cursor: pointer;
}

.right-column {
  text-align: right;
}

.spaced-row {
  margin-top: 8px;
}

.app-icon {
  color: var(--main-color);
}

.edit-icon {
  cursor: pointer
}

.error-box {
  margin-top: 16px;
  font-size: 14px;
  color: red;
}

/* Single estimate page */

.single-estimate-link-row{
  display: flex;
  justify-content: flex-end;
  border-style: solid;
  border-width: 1px 0 0 0;
  border-color: lightgray;
  margin-top: 8px;
}

.single-estimate-link {
  padding: 6px 12px;

  border-width: 0 0 0 1px;
  border-color: lightgray;
  border-style: solid;

  color: var(--main-color);
  cursor: pointer;
}

.collapsed-action-row{
  display: flex;
  justify-content: flex-end;
  border-style: solid;
  border-width: 1px 0 0 0;
  border-color: lightgray;
  margin-top: 8px;
}

.collapsed-action-link {
  display: flex;
  align-items: center;

  padding: 6px 12px;

  border-width: 0 0 0 1px;
  border-color: lightgray;
  border-style: solid;

  color: var(--main-color);
  cursor: pointer;
}

.collapsed-action-link-content {
  margin-right: 4px;
}

.submit-error {
  color: #dc3545;
  font-size: 80%;
}

.mobile-only {
  display: inherit !important;
}

.desktop-only {
  display: none !important;
}

@media(min-width: 760px) {
  .mobile-only {
    display: none !important;
  }

  .desktop-only {
    display: inherit !important;
  }
}
