<% content_for :title, "Estimates" %>
<% content_for :description, "Get a free online estimate for tree care, tree removal, stump removal and trimming services." %>

<div id='onboarding-top-level' data-organization_shortname="<%= @organization_shortname %>" data-form-type='standalone'>
  <div id='onboarding'>
  </div>
</div>
