<%= render 'admin/common/back_button', back_link: vehicles_path %>

<h5>Update Expiration</h5>

<%= form_for(@expiration, class: "col s12 m6 offset-m3") do |f| %>
  <input type="hidden" name="_method" value="patch">
  <%= render 'expirations/partials/expiration_form', f: f %>

  <div class="row">
    <%= submit_tag "Update", class: 'btn col s12 m6 offset-m3' %>
  </div>

<% end %>
