@mixin shadow-box{
  box-shadow: 0 5px 3px -3px rgba(153, 153, 153, 0.2);
  border: 1px solid lightgrey;
}

@mixin red-header{
  font-size: 18px;
  color: white;
  font-weight: 600;
  padding: 16px 16px 12px 16px;
  background-color: var(--main-color);
  border-width: 0 0 4px 0;
  border-color: var(--main-color-dark);
  border-style: solid;
}
