<div class='container'>
  <h3>Download Master Tracker</h3>

  <div class="content__box">
    <h4>
      Master tracker includes <%= Estimate.completed.count %> completed estimates
    </h4>

  <%= link_to(trackers_path(format: :xlsx)) do %>
    <div class="content__row">
      <%= submit_tag("Download", class: 'form__submit') %>
    </div>
  <% end %>
      
  </div>
  </div>

</div>
