<div class='container'>
  <div class="full-spread-row">
    <h3>Vehicles</h3>
    <%= link_to "+ Add new", '/vehicles/new' %>
  </div>

  <table class='full-table alternate-table'>
    <% @vehicles.each do |vehicle| %>
      <tr>
        <td><%= vehicle.name %></td>
      </tr>
    <% end %>
  </table>
</div>
