<div class="admin__header">
  <h5>Vehicles</h5>

  <%= link_to new_vehicle_path do %>
    + Add New
  <% end %>
</div>

<table class='striped'>
  <% @vehicles.each do |vehicle| %>
    <tr>
      <td><%= vehicle.name %></td>
      <td>
        <%= link_to vehicle_path(vehicle) do %>
          Details
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
