// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#admin-container{
	padding: 16px;
}

#bootstrap-admin-container{
	
}

#admin-nav-bar{
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-bottom: 8px;
}

.admin-nav-element{
	margin: 4px 0;

	background-color: var(--main-color);
  border-color: var(--main-color-dark);
  border-style: solid;
  border-width: 0 0 4px 0;
  padding: 4px;

  color: white;
  font-weight: 600;

  width: 100%;
  display: flex;
  justify-content: center;
}

#admin__header{
	font-size: 22px;
	margin-top: 8px;
}


#admin__estimate-header{
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	font-size: 22px;
	margin-top: 8px;
}

#admin__trackers-link{
	font-size: 16px;
}

.admin__estimate-tabs{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-top: 10px;
	width: 100%;
}

.admin__single-estimate-tab{
	display: flex;
	justify-content: center;
	align-items: center;

	border-style: solid;
	border-width: 1px;
	border-color: grey;

	padding: 4px;
	margin: 4px 0;
	width: 46%;
	font-weight: 600;

	cursor: pointer;
}

.admin_single-estimate-tab-active{
	color: white;
	background-color: var(--main-color);
}

#admin-estimate-table{
	width: 100%;
}

@media(min-width: 760px){

	#admin-container{
		max-width: 960px;
		margin: 0 auto;
	}

	#bootstrap-admin-container{
		max-width: 960px;
		margin: 0 auto;
	}

	.admin__single-estimate-tab{
		padding: 8px;
		width: 160px;
	}
}


/* NEW MATERIAL */

	#main-container {
		height:auto !important; /* real browsers */
    height:100%; /* IE6: treaded as min-height*/

    min-height:100%; /* real browsers */
		position: relative;
	}

	#admin-content{
		padding: 16px;
		max-width: 960px;
		margin: 0 auto;
		padding-bottom: 100px;
	}

	#admin-footer{
		position:fixed;
    width:100%;
		bottom:0; /* stick to bottom */
		left:0; 
		z-index: 10;
		font-size: 10px;
	}

	.admin__header{
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-size: 16px;
		margin-bottom: 16px;
	}

	.admin__header a {
		font-size: 20px;
	}

	.error-message{
		background-color: var(--error-inner);
		color: var(--error);
		border-color: var(--error);
		border-width: 1px;
		border-style: solid;
		padding: 12px;
		width: 100%;
	}

	.success-message{
		background-color: var(--success-inner);
		color: var(--success);
		border-color: var(--success);
		border-width: 1px;
		border-style: solid;
		padding: 12px;
		width: 100%;
	}

	@media(min-width: 760px){
		#admin-content{
			padding: 16px;
			padding-bottom: 32px;
		}
	}
