.page-container{
  padding: 8px;
}

.form-field{
  border: 1px solid lightgray;
}

.back-link{
  display: flex;
  font-weight: 600;
  color: black;
}

.back-link-image{
  width: 24px;
  margin-right: 8px;
}
