.page-container{
  padding: 0 8px 8px 8px;
}

.admin-page-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
}

.form-field{
  border: 1px solid lightgray;
}

.back-link{
  display: flex;
  font-weight: 600;
  color: black;
}

.back-link-image{
  width: 24px;
  margin-right: 8px;
}

.full-table{
  width: 100%;
  border: 1px solid gray;
}

.full-table tr{
  border-style: solid;
  border-width: 1px 0 0 0;
  border-color: gray;
}

.alternate-table tr:nth-child(even){
  background: #F5F5F5;

}

.alternate-table td{
  padding: 8px;
}

.full-spread-row{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-link{
  text-decoration: none;
  color: var(--main-color);
  cursor: pointer;
}

.badge-notification{
  background-color: var(--main-color);
  color: white;
  font-weight: 600;
  border-width: 0px;
  border-style: solid;
  border-radius: 5px;
  margin: 2px 0;
  vertical-align: center;
  width: 100%;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.approveable__check {
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: 0 0 0 1px;
  border-color: lightgray;
  border-style: solid;
  color: green;
  font-size: 30px;
}

.modal-image{
  max-height: 1px;
  max-width: 1px;
}


@media(min-width: 760px){
  .page-container{
    max-width: 960px;
    margin: 0 auto;
  }
}
