.page-container{
  padding: 8px;
}

.form-field{
  border: 1px solid lightgray;
}

.back-link{
  display: flex;
  font-weight: 600;
  color: black;
}

.back-link-image{
  width: 24px;
  margin-right: 8px;
}

.full-table{
  width: 100%;
  border: 1px solid gray;
}

.full-table tr{
  border-style: solid;
  border-width: 1px 0 0 0;
  border-color: gray;
}

.alternate-table tr:nth-child(even){
  background: #F5F5F5;

}

.alternate-table td{
  padding: 8px;
}

.full-spread-row{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-link{
  text-decoration: none;
  color: var(--main-color);
  cursor: pointer;
}

@media(min-width: 760px){
  .page-container{
    max-width: 960px;
    margin: 0 auto;
  }
}
