@import "common/_mixins.scss";

.estimate-container{
  padding: 8px;
  display: flex;
  flex-direction: column;
}

#estimate-form__info{
  width: 100%;
}

#estimate-form__inputs{
  width: 100%;
}

#estimate-form__container{
  @include shadow-box;
  padding: 8px;
  display: flex;
  flex-direction: column;
}

#estimate-form__question{
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
}

#estimate-form__radio-buttons{
  display: flex;
  justify-content: space-around;
  margin-top: 16px;
}

#estimat-form__subtext{
  font-size: 16px;
}

#estimate-form__quantity-question{
  display: flex;
  justify-content: center;
  margin-top: 16px;
  text-align: center;
}

#estimate-form__link{
  font-weight: 600;
  color: var(--main-color);
}

#estimate-form__submit{
  width: 100%;
  background-color: var(--main-color);

  border-width: 0 0 4px 0;
  border-color: var(--main-color-dark);
  border-style: solid;

  padding: 8px;
  margin-top: 16px;
  
  color: white;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  justify-content: center;

  cursor: pointer;
}

#estimate-form__tree-submit{
  width: 100%;
  background-color: var(--main-color);

  border-width: 0 0 4px 0;
  border-color: var(--main-color-dark);
  border-style: solid;

  padding: 8px;
  margin-top: 16px;
  
  color: white;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  justify-content: center;

  cursor: pointer;
}

#tree-page-title{
  width: 100%;
  display: flex;
  justify-content: center;

  border-width: 0 0 2px 0;
  border-style: solid;
  border-color: var(--main-color);
}

.estimate-form__field-group{
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}

.estimate-form__label{
  font-weight: 600;
  margin-bottom: 4px;
}

#estimate-form__radio-question{
  display: flex;
  margin-top: 4px;
}

#estimate-form__desc-field{
  width: 100%;
  border-color: lightgrey;
  border-width: 1px;
  border-style: solid;
}

#estimate-form__thank-you-block{
  width: 100%;
  display: flex;
  flex-direction: column;
  
  font-size: 18px;
}

#estimate-form__thank-you-section{
  margin-top: 16px;
  margin-bottom: 16px;
}

#estimate-form__info-section{
  margin-bottom: 16px;
}

#estimate-form__info-content{
  margin-top: 16px;
}

.estimate-form__uploader-group{
  margin-top: 16px;
}

@media(min-width: 760px){
  .estimate-container{
    max-width: 960px;
    margin: 0 auto;
    flex-direction: row;
    margin-top: 16px;
  }

  #estimate-form__container{
    padding: 16px;
  }

  #estimate-form__info{
    width: 45%;
    margin-right: 32px;
  }
  
  #estimate-form__inputs{
    width: 55%;
  }
  
}
