#header-container{
  width: 100%;
  background-color: white;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  padding: 8px 16px;

  border-width: 0 0 2px 0;
  border-style: solid;
  border-color: var(--main-color);
}

#header-container-inner{
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#header-inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#header-logo{
  height: 60px;
} 

#header__nav-container{
  
}

#header__subtitle{
  display: flex;
  justify-content: center;
  font-weight: bold;
}

@media (min-width: 760px){
  #header-container{
    padding: 16px 32px 0px 32px;
    display: flex;
    justify-content: space-between;
  }

  #header-inner{
    width: 30%;
    margin: 0 auto;
    display: inline-block;
  }

  #header-container-inner{
    flex-direction: row;
  }

  #header-logo{
    height: 70px;
  }

  #header__nav-container{
    width: 70%;
  }
}
