#navbar{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  height: 100%;
  width: 100%;
  max-width: 960px;
  padding: 0px;
  margin-bottom: 0px;
  margin: 0;
}

.menu-icon {
  display: block;
  font-size: 26px;
}

.menu-icon-open {
  display: block;
  font-size: 26px;
}

.nav-link{
  color: black;
  padding: 10px 15px;;
  width: 100%;
}

.menu-item{
  padding: 10px 10px;
  font-size: 16px;
  font-weight: 600;
  display: none;
}

.menu-item-responsive{
  display: flex;
  justify-content: flex-start;
  width: 100%;
  font-size: 16px;
  font-weight: 600;
}



.menu-divider{
  display: none;
}

@media (min-width:760px) {
  #navbar{
    flex-direction: row;  
  }

  #nav-bar-container{
    height: 80px;
    width: 100%;
  }

  .nav{
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .menu-item{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
  }

  .menu-icon {
    display: none;
  }

  .menu-item-responsive:hover{
    border-width: 0 0 2px 0;
    border-style: solid;
    border-color: var(--main-color);
  }

}
