.alwaysbreak {
  page-break-before: always;
}

.page {
  padding: 0px 24px;
  font-family: 'Source Sans Pro'
}

.pdf_header {
  // display: -webkit-box;
  // -webkit-box-pack: justify;
  // display: flex;
  // justify-content: space-between;
  //display: table;
  width: 100%;
}

.pdf_header-image {
  width: 400px;
}

.shadow-river-logo {
  width: 200px;
}

.header-table {
  width: 100%;
}

.header-row{
  //display: table-row;
  width: 100%;
}

.address-cell {
  font-size: 15px;
  color: gray;
  // margin-top: 40px;
  //display: table-cell;
  vertical-align: bottom;
  width: 38%;
}

.company-name {
  font-size: 18px;
  color: #4d4d4d;
}

.logo-cell {
  width: 72%;
}

.contact-details {
  margin-top: -24px;
  margin-left: 112px;
  color: #4d4d4d;
  white-space: nowrap;
}

.estimate-header {
  margin-top: 16px;
  padding: 4px;
  border-width: 1px 0 1px 0;
  border-color: lightgrey;
  border-style: none;
  border-top-style: solid;
  border-bottom-style: solid;
  font-size: 18px;
}

.info-table {
  width: 100%;
  padding: 8px 0px;
  border: 1px solid lightgray;
  margin-top: 16px;
  font-size: 14px;
}

.info-row {
  width: 100%;
  padding-top: 2px;
  padding-bottom: 2px;
}

.title-column {
  text-align: right;
  width: 15%;
  padding: 4px;
  margin-right: 8px;
}

.entry-column {
  // border-width: 0 0 1px 0;
  border-width: 0;
  border-style: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: lightgrey;
  width: 30%;
  padding: 4px;
  text-align: center;
  margin-right: 16px;
  font-size: 14px;
}

.cost-summary {
  border: 1px solid lightgray;
  // display: -webkit-box;
  // -webkit-box-orient: vertical;
  // display: flex;
  // flex-direction: column;
  display: table;
  margin-top: 32px;
  width: 100%;
}

.cost-summary-row {
  width: 100%;
  // display: -webkit-box;
  // display: flex;
  display: table-row;
  // border-width: 0 0 1px 0;
  // border-style: solid;
  // border-color: lightgray;
}

.cost-summary-row-left {
  width: 75%;
  border-width: 0;
  border-bottom-width: 1px;
  border-style: solid;
  border-color: lightgray;
  padding: 4px;
  padding-top: 6px;
  height: 24px;
  display: table-cell;
}

.cost-summary-row-right {
  display: table-cell;
  width: 25%;
  height: 24px;
  padding: 6px;

  border-width: 0;
  border-bottom-width: 1px;
  border-style: solid;
  border-color: lightgray;
}

.totals {
  // display: -webkit-box;
  // -webkit-box-pack: end;
  // display: flex;
  // justify-content: flex-end;
  text-align: right;
}

.signature-row {
  margin-top: 32px;
}

.signature-left {
  font-size: 14px;
  padding-right: 32px;
}

.signature-box {
  width: 300px;
}

.signature-field {
  border-width: 0 0 1px 0;
  border-color: lightgray;
  border-style: none;
  border-bottom-style: solid;
}

.signature-description {
  text-align: center;
}

.liability-row {
  border: 1px solid lightgray;
  padding: 8px;
  margin-top: 64px;
  width: 100%;
}

.liability-column {
  line-height: 30px;
}

.details-box {
  margin-top: 16px;
  font-size: 16px;
}

.image-row {
  width: 100%;
  display: -webkit-box;
  display: flex;
}

.tree-image {
  max-width: 250px;
  min-width: 250px;
  margin-right: 16px;
}

/* REPAIR TRACKER */

.vehicle-box {
  border: 1px solid gray;
  margin-bottom: 8px;
}

.vehicle-header {
  font-weight: 600;
  padding: 4px;
  background-color: #eeeeee;
  border-width: 0px;
  border-bottom-width: 1px;
  border-color: gray;
  border-style: solid;
}

.content-row {
  display: -webkit-box;
  display: flex;
  border-width: 0px;
  border-bottom-width: 1px;
  border-color: gray;
  border-style: solid;

  page-break-inside: avoid;
}

.content-element {
  margin-right: 4px;
  padding: 4px;
  border-width: 0px;
  border-right-width: 1px;
  border-color: gray;
  border-style: solid;
}

.category-element {
  width: 10%;
}

.description-element {
  width: 40%;
}

.image-element {
  width: 50%;
}

.request-image {
  max-width: 95%;
  max-height: 400px;
}
