
@import "common/_mixins.scss";

#services-page-list{
  display: flex;
  flex-direction: column;
}

#services-page-entry{
  margin-top: 16px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#services-page-entry__header{
  font-size: 18px;
  color: white;
  font-weight: 600;

  padding: 16px 16px 12px 16px;

  background-color: var(--main-color);

  border-width: 0 0 4px 0;
  border-color: var(--main-color-dark);
  border-style: solid;
}

#services-page-entry__image-wrapper{
  width: 100%;
}

#services-page-entry__image{
  width: 100%;
}

#services-page-entry__links{
  width: 100%;
}

#services-page-entry__content{
  @include shadow-box;

  display: flex;
  flex-direction: column;

  padding: 16px;
}

#services-page-entry__right{
  display: flex;
  flex-direction: column;
}

#services-page-entry__description{
  margin-top: 16px;
}

#services-page-entry__links{
  margin-top: 16px;
}

@media(min-width: 760px){
  #services-page-entry__content{
    flex-direction: row;
  }

  #services-page-entry__image-wrapper{
    width: 36%;
  }

  #services-page-entry__right{
    width: 64%;
    margin-left: 16px;
  }

  #services-page-entry__description{
    margin-top: 0;
  }

  #services-page-entry__header{  
    padding: 8px 16px 4px 16px;
  }
}

/* Discounts */

#discounts__box-outer{
  width: 100%;
  margin-top: 16px;
}

@media (min-width:768px) {
  #discounts__box-outer{
    width: 70%;
  }
}
