@import "common/_mixins.scss";

#services__content-box{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 16px;
}

#services__content-text{
  margin-bottom: 16px;
}

#services__content-image{
  width: 100%;
}

#services__method-box{

  width: 100%;

  display: flex;
  flex-direction: column;
}

#services__method-box-header{
  width: 100%;
  background-color: var(--main-color);
  padding: 8px 16px;
}

#services__method-box-title{
  font-size: 18px;
  color: white;
}

#services__method-box-steps{
  padding: 16px;
}

#services__method-box-inner{
  display: flex;
  @include shadow-box;
}

#services__steps-image{
  width: 100%;
}

@media (min-width: 760px){
  #services__content-box{
    flex-direction: row;
  }

  #services__content-text{
    width: 65%;
    margin-bottom: 0px;
    padding-right: 32px;
  }

  #services__content-image{
    width: 35%;
    height: auto;
    align-self: center;
  }
}
