#step-entry{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}


#step-text{
  display: flex;
  flex-direction: column;
}

#step-text-header{
  padding-top: 8px;
  font-size: 16px;
  font-weight: 600;
}

#step-text-subheader{
  font-size: 16px;
  margin-top: 8px;
}

#step-header{
  display: flex;
  align-items: flex-end;

  width: 100%;

  padding-bottom: 4px;

  border-style: solid;
  border-width: 0 0 1px 0;
  border-color: lightgrey; 
}

#step-header-content{
  margin-left: 16px;
  font-size: 22px;
  font-weight: 600;


}

#step-number{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--main-color);

  border: 2px solid var(--main-color-dark);

  display: flex;
  justify-content: center;
  align-items: center; 

  font-size: 18px;
  color: white;
}


@media (min-width: 760px){
  #step-container{
    width: 50%;
    padding: 32px;

  }
}
