#services-box{
  width: 100%;
  box-shadow: 0 5px 3px -3px rgba(153, 153, 153, 0.2);
  border: 1px solid lightgrey;
  padding: 16px;

  margin: 16px auto;

  display: flex;
  flex-direction: column;
}

#services-box-header{
  font-size: 20px;
  font-weight: 600;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: lightgrey;
}

#services-tab-container{
  width: 100%;
  display: flex;

  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: lightgrey;

}

.services-tab{
  width: 50%;
  padding: 8px 16px;
  display: flex;
  justify-content: center;
  align-items: center;

  border-width: 0 1px 0 1px;
  border-style: solid;
  border-color: lightgrey;

  cursor: pointer;
}

.services-tab-active{
  color: white;
  background: var(--main-color);
}

#services-box-image-wrapper{
  width: 100%;
}

#services-box-image{
  width: 100%;
  margin-top: 16px;
}

#services-box-content{
  margin: 16px 0 16px 0;
  font-size: 16px;
}

.services-link{
  width: 46%;
}

.services-button{
	width: 100%;
	height: 50px;
	margin: 0 auto;

	color: white;
	background-color: var(--main-color);

	border-width: 0 0 4px 0;
	border-style: solid;
	border-color: var(--main-color-dark);

	display: flex;
	align-items: center;
  justify-content: center;
  
  font-size: 16px;

  margin-top: 16px;
}

#services-button-wrapper{
  width: 100%;
  display: flex;
  justify-content: space-between;

  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: lightgrey;
}

@media (min-width: 760px){
  #services-box{
    width: 45%;
    margin: 0;
    margin-top: 16px;
  }

  #services-box-image{
    width: 100%;
  }
}
