#testimonial-container{
	display: flex;
	justify-content: center;
}

.testimonial-box{
	font-size: 18px;
	font-color: black;

	width: 100%;
	padding: 16px;


	display: flex;
	flex-direction: column;
}


.testimonial-signature{
	text-align: right;
	border-width: 3px 0 0 0;
	border-style: solid;
	border-color: var(--main-color);

	margin-top: 10px;

	padding: 10px;
	

	width: 100%;

	font-weight: bold;
}

// MEDIA QUERIES
