<p><%= "Hi #{@arborist.name.split(' ').first}" %>,</p>

<p>You have been added to a new company on bigtreeservices.ca: <%= @membership.organization.name %></p>

<p>This will allow you to submit hours and requests to this company.</p>

<p>You can switch between all companies you belong to by using the company switch found at the top of the page.</p>

<p>Log in to <a href='bigtreeservices.ca/login'>Big Tree Services</a></p>
