<p><%= "Hi #{@arborist.name.split(' ').first}" %>,</p>

<p>You have been invited to the management portal bigtreecare.ca for <%= @membership.organization.name %></p>

<p>This will allow you to submit hours and requests to this company.</p>

<p>You can log in with this email, and using the temporary password listed below. Please change this password from your Profile page as soon as possible.</p>

<p>Password: <%= @initial_password %></p>

<p>Log in to <a href='bigtreecare.ca/login'>Big Tree Services</a></p>
