<%= render :layout => '/main/components/permits/info', :locals => {:city => 'Brampton', parent_id: 'brampton'} do %>
    <section class="permits__content-section">
    <span class="permits__content-header">Bylaws</span>
    <div>A permit is required to remove any tree on private property which is over 30cm diameter, measured at 1.37m off the ground. Also not required if the tree is within 2 meters of an occupied building.</div>
  </section>

  <section class="permits__content-section">
    <span class="permits__content-header">Fees</span>
    <div><span class="permits__content-fee">$50</span> processing fee per application.</div>
  </section>

  <%= render '/main/components/permits/instructions', form_name: 'Brampton_Application-Injure-Destroy-Trees-1.pdf' %>
<% end %>
