<div class="permits__info" id=<%= parent_id %> style="display: none;">
  <div class="permits__info-header">
    <%= city %>
  </div>
  <div class="permits__info-content">
    <%= yield %>
  </div>
</div>
