<section class="permits__content-section">
  <span class="permits__content-header">Permit Instructions</span>
  <ol style="padding-left: 20px;">
    <li>Download and fill out the permit application form <%= link_to 'HERE', "/forms/#{form_name}", target: '_blank' %></li>
    <li>
      Take the following three pictures: <br>
      <ul style="padding-left: 20px;">
        <li>An overall picture of the entire tree</li>
        <li>A picture of the base of the tree including any possible roots</li>
        <li>A picture with any possible hazards or oddities such as broken limbs, cracking foundaties or damages to driveways caused by the tree</li>
      </ul>
    </li>
    <li>Email the completed form and pictures to <a href="mailto:tbrewer@bigislandgroup.ca">tbrewer@bigislandgroup.ca</a></li>
    <li>We will then complete our arborist report and return it to you for submission to the city.</li>

  </ol>
</section>
