<%= render :layout => '/main/components/permits/info', :locals => {:city => 'Markham', parent_id: 'markham'} do %>
  <section class="permits__content-section">
    <span class="permits__content-header">Bylaws</span>
    <div>A permit is required to remove any tree on private property which is over 20cm diameter, measured at 1.37m off the ground.</div>
  </section>

  <section class="permits__content-section">
    <span class="permits__content-header">Permit Instructions</span>
    <div>
      Markham's permit application process is entirely online. Please submit the application <a target="_blank" href="https://www.markham.ca/wps/portal/home/onlineservices/treepermitapplication">HERE</a>
    </div>
  </div>
<% end %>
