<%= render :layout => '/main/components/permits/info', :locals => {:city => 'Other', parent_id: 'other'} do %>
  <section class="permits__content-section">
    <div style="font-size: 18px;">
    If your city is not listed, please contact <a href="mailto:tbrewer@bigislandgroup.ca">tbrewer@bigislandgroup.ca</a> with the
    details of your tree, and your city, and we will do our best to help you through the permit application process.
    </div>
  </section>
<% end %>
