<div id="create-arborist">
  <div id = "form__row">
    <div id='form__element-75'>
      <h3>Edit arborist</h3>
    </div>

    <div id='form__element-25'>
      <%= form_tag("/arborists/#{@arborist.id}", method: "delete" ) do%>
        <%= submit_tag('DELETE', id: 'form__submit') %>
      <% end %>
    </div>
  </div>

  <%= form_tag("/arborists/#{@arborist.id}", method: "put") do %>
    <%= render 'arborists/arborist_form', arborist: @arborist %>
  <% end %>
  
</div>
