<div class='page-container'>
  <div class='admin-page-header'>
    <h5>Arborists</h5>
    <%= link_to('Create', new_arborist_path)%>
  </div>

  <% @arborists.each do |arborist| %>
    <%= render 'arborists/partials/contact_card', arborist: arborist %>
  <% end %>
</div>
