<h5>Create new arborist</h5>

<%= form_for(@arborist, method: :post, class: "col s12 m6 offset-m3") do |f| %>
  <%= render 'arborists/partials/arborist_details_form', form: f %>
  <%= render 'arborists/partials/arborist_password_form', form: f %>

  <div class="row">
    <%= submit_tag "Create", class: 'btn col s12 m6 offset-m3' %>
  </div>

<% end %>
