<div>
  <h4>Create new arborist</h4>

  <%= form_for(@arborist, method: :post, class: "col s12 m6 offset-m3") do |f| %>
    <%= render 'arborists/arborist_form', form: f %>

    <div class="row">
      <%= submit_tag "Create", class: 'btn col s12 m6 offset-m3' %>
    </div>

  <% end %>
</div>
