<div class="row">
  <div class="col s12 m5">
    <%= 
      render 'arborists/partials/contact_card',
      arborist: @arborist,
      show_actions: false 
    %>
  </div>

  <div class="col s12 m6 offset-m1">
    <ul class="collapsible" id="arborist-list">
      <%= render 'arborists/partials/documents' %>
      <%= render 'arborists/partials/hours' %>
    </ul>
  </div>

</div>



<script>
  $(document).ready(function () {
    $('.collapsible').collapsible();
  })
</script>
