<h5>Create a Payout</h5>

<b>Payout end date</b>

<%= form_tag(new_payout_path, { :method => :get, remote: true, id: 'payout-datepicker' }) do %>
  <div id="payout__date-select">
    <%= text_field_tag('date', nil, class: 'datepicker', id: 'payout__date-select-input', onchange: 'handleDateChange()') %>
    
  </div>
<% end %>

<div id="payout-data">
  <%= render partial: 'payouts/partials/payout_display', locals: { work_records: @work_records } %>
</div>

<script>
  $(document).ready(function(){
    var options = {
      defaultDate: new Date(),
      setDefaultDate: true
    };


    $('.datepicker').datepicker(options);
  });
</script>

<script>
  function handleDateChange() {
    $("#payout-datepicker").submit();
  }
</script>
